body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #49325f;
}

.header-aligned {
    margin-left: auto;
    margin-right: auto;
    width: fit-content; /* pega os 2 elementos dentro do header no caso a imagem e o texto e deixa proporcional */
}

.glass-blur {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); 
    background-color: rgba(255, 255, 255, 0.1); 
}

.hero-section {
    background: linear-gradient(to bottom, #1d0f38, #49325f);
    background-size: cover;
    background-position: center;
}

.header-icone {
    width: 50px;
    height: 50px;
    margin-right: 8px;
}
